<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/user_manage.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="nav">
        <div class="logo">
            <a href="/home" title="运维界"><img src="../static/images/logo.png" alt="运维界"></a>
        </div>
        <div class="online">
            <p>上线任务</p>
        </div>
    </div>
<div class="central">
        <div class="aside_left">
            <div class="aside-box-wh">
                <a href="#" class="aside-box-font">系统监控</a>
            </div>
            <div class="aside-box-wh">
                <a href="#" class="aside-box-font">系统管理</a>
            </div>
            <div class="aside-box-wh">
                <a href="/user_manage" class="aside-box-font">用户管理</a>
            </div>
            <div class="aside-box-wh">
                <a href="#" class="aside-box-font">日志管理</a>
            </div>
            <div class="aside-box-wh">
                <a href="/host_manage" class="aside-box-font" >主机管理</a>
            </div>
        </div>
</div>
</body>
</html>