<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台系统管理-主机管理</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <style>
        .box1{
            width: 74%;
            height: 300px;
            position: absolute;
            right: 7%;
            top: 100px;
            left: 19%;
        }
        table{
            width: 100%;
            text-align: center;
        }
        table tr td{
            height: 30px;
            color: #000;
        }
        span{
            color: #000;
        }
        .box2{
            float: right;
        }
    </style>
</head>
<body>
<div>
    <div class="nav">
        <div class="logo">
            <a href="#" title="运维界"><img src="../static/images/logo.png" alt="运维界"></a>
        </div>
        <div class="online">
            <p>上线任务</p>
        </div>
    </div>
    <div class="content">
        <div class="aside">
            <div class="aside-box-wh">
                <a href="#" class="aside-box-font">系统监控</a>
            </div>
            <div class="aside-box-wh">
                <a href="#" class="aside-box-font">系统管理</a>
            </div>
            <div class="aside-box-wh">
                <a href="/user_manage" class="aside-box-font">用户管理</a>
            </div>
            <div class="aside-box-wh">
                <a href="#" class="aside-box-font">日志管理</a>
            </div>
            <div class="aside-box-wh">
                <a href="/host_manage" class="aside-box-font" >主机管理</a>
            </div>
        </div>
        <div class="box1">
            <table bgcolor="black" cellspacing="1px">
                <tr bgcolor="#a9a9a9">
                    <td>
                        ID
                    </td>
                    <td>
                        主机名
                    </td>
                    <td>
                        IP地址
                    </td>
                    <td>
                        端口
                    </td>
                    <td>
                        服务
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
                <tr bgcolor="white">
                    <td>1</td>
                    <td>docker_1</td>
                    <td>1.1.1.1</td>
                    <td>22,80,8080</td>
                    <td>
                        nginx,varnish
                    </td>
                    <td>删除 | 查看详细</td>
                </tr>
                <tr bgcolor="white">
                    <td>2</td>
                    <td>docker_2</td>
                    <td>2.2.2.2</td>
                    <td>22,80,8080</td>
                    <td>
                        nginx,varnish
                    </td>
                    <td>删除 | 查看详细</td>
                </tr>
                <tr bgcolor="white">
                    <td>3</td>
                    <td>docker_3</td>
                    <td>3.3.3.3</td>
                    <td>22,80,8080</td>
                    <td>
                        nginx,varnish
                    </td>
                    <td>删除 | 查看详细</td>
                </tr>
                <tr bgcolor="white">
                    <td>4</td>
                    <td>docker_4</td>
                    <td>4.4.4.4</td>
                    <td>22,80,8080</td>
                    <td>
                        nginx,varnish
                    </td>
                    <td>删除 | 查看详细</td>
                </tr>
            </table>
            <div class="box2">
            <span>添加主机</span>
            <span>查看更多>></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>