<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MP-Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="link_border_style">
        <a href="http://www.pupuwang.com" class="link_font_style">铺铺旺首页</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://www.xw18.cn/xwWeb/" class="link_font_style">员工后台</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://www.xw18.cn/xwAdmin/" class="link_font_style">运营后台</a>
    </div>
    <div class="img_border_style">
        <div>
            <img src="../static/images/background_img_01.jpg"/>
        </div>
        <div class="login_border_style">
            <div class="backend_font_style">后台管理系统</div>
            <form action="/login/" method="post">
                <div style="margin: 60px;margin-top: 40px;">
                    <div class="div_border">
                        <input class="input_border" type="text" placeholder="用户名" name="user"/>
                        <span class="span_border" style="background-image: url(../static/images/i_name.jpg)"></span>
                    </div>
                </div>
                <div style="margin: 60px;margin-top: -20px;">
                    <div class="div_border">
                    <input class="input_border" type="password" placeholder="密码" name="pwd"/>
                    <span class="span_border" style="background-image: url(../static/images/i_pwd.jpg)"></span>
                    <span style="font-size: 12px;color:red">{{error}}</span>
                    </div>
                </div>
                <div style="margin-top:-50px;margin-left:260px;">
                    <a href="#" class="forget_register_font_style">忘记密码？</a>
                </div>
                <div style="margin: 60px;margin-top: 10px;">
                    <input class="login_submit" type="submit" value="登录" />
                </div>
            </form>
            <div style="margin-top:-50px;margin-left:260px;">
                <a href="#" class="forget_register_font_style">注册账号</a>
            </div>
        </div>
    </div>
</body>
</html>