{% extends "base.html" %}
{% block title %}后台系统管理-用户管理{% endblock %}
{% block content %}
<div class="aside_right">
        <div class="aside_right_box">
            <form method="post" >
                <div id="determine_box1" class="determine_box1"></div>
                    <div id="determine_box2" class="determine_box2">
                    <div id="determine_title" class="determine_title">
                        <p>是否删除用户？</p>
                    </div>
                    <div class="determine_button">
                        <input type="button" value="确定" id="determine_button" >
                    </div>
                    <div class="determine_close">
                        <input type="button" value="取消" id="determine_close">
                    </div>
                </div>
                <table bgcolor=#999 cellspacing= "1px" class="aside_right_table">
                    <tr class="add_user_title_tr" bgcolor="white">
                        <td>ID</td>
                        <td>拥有者</td>
                        <td>用户名</td>
                        <td>密码</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                    {% for user in users %}
                    <tr bgcolor="white" id="{{user.id}}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.owner }}</td>
                        <td>{{ user.user }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.remarks }}</td>
                        <td>
                            <input type="button" value="修改" id="update_user" onclick="update_box({{ user.id }},'{{ user.owner }}','{{ user.user }}','{{ user.password }}','{{ user.remarks }}')">
                            <input type="button" value="删除" id="del_user" onclick="delete_box({{ user.id }})">
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
            <form action="/add_user" method="post">
                <div class="aside_right_add_user">
                    <div class="add_user_button">
                        <input type="button"  value="添加用户" onclick="add_user()" >
                    </div>
                    <div id="add_user_mask" class="add_user_mask"></div>
                    <div id="add_user_box" class="add_user_box">
                        <div id="add_user_title" class="add_user_title">
                            <p>添加用户</p>
                            <a id="close">X</a>
                        </div>
                        <div class="user_box_content">
                            <div class="user_box_content_box">
                                <div class="user_box_content_str">
                                    <label for="owner"><a class="xinhao">*</a> 拥有者:</label>
                                </div>
                                <div class="user_box_content_text">
                                    <input type="text" id="owner" name="owner" required="required">
                                </div>
                            </div>
                            <div class="user_box_content_box">
                                <div class="user_box_content_str">
                                    <label for="user"><a class="xinhao">*</a> 用户名:</label>
                                </div>
                                <div class="user_box_content_text">
                                    <input type="text" id="user" name="user" required="required">
                                </div>
                            </div>
                            <div class="user_box_content_box">
                                <div class="user_box_content_str1">
                                    <label for="password"><a class="xinhao">*</a> 密码:</label>
                                </div>
                                <div class="user_box_content_text">
                                    <input type="text" id="password" name="password" required="required">
                                </div>
                            </div>
                            <div class="user_box_content_box1">
                                <div class="user_box_content_str1">
                                    <label for="remarks"><a class="xinhao">*</a> 备注:</label><br>
                                </div>
                                <div>
                                    <textarea id="remarks" name="remarks" required="required"></textarea>
                                </div>
                            </div>
                            <div class="add_user_submit">
                                <input type="submit" value="提交" id="submit">
                            </div>
                            <div class="add_user_close">
                                <input type="reset" value="取消" id="cancel">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/upd_user" method="post">
                    <div id="upd_user_mask" class="add_user_mask"></div>
                    <div id="upd_user_box" class="add_user_box">
                        <div id="upd_user_title" class="add_user_title">
                            <p>修改用户</p>
                            <a id="upd_close">X</a>
                        </div>
                        <div class="user_box_content">
                            <div class="user_box_content_box">
                                <div class="upd_id_box">
                                    <input type="text" id="upd_id" name="upd_id">
                                </div>
                                <div class="user_box_content_str">
                                    <label for="upd_owner"><a class="xinhao">*</a> 拥有者:</label>
                                </div>
                                <div class="user_box_content_text">
                                    <input type="text" id="upd_owner" name="upd_owner" required="required">
                                </div>
                            </div>
                            <div class="user_box_content_box">
                                <div class="user_box_content_str">
                                    <label for="upd_user"><a class="xinhao">*</a> 用户名:</label>
                                </div>
                                <div class="user_box_content_text">
                                    <input type="text" id="upd_user" name="upd_user" required="required">
                                </div>
                            </div>
                            <div class="user_box_content_box">
                                <div class="user_box_content_str1">
                                    <label for="upd_password"><a class="xinhao">*</a> 密码:</label>
                                </div>
                                <div class="user_box_content_text">
                                    <input type="text" id="upd_password" name="upd_password" required="required">
                                </div>
                            </div>
                            <div class="user_box_content_box1">
                                <div class="user_box_content_str1">
                                    <label for="upd_remarks"><a class="xinhao">*</a> 备注:</label><br>
                                </div>
                                <div>
                                    <textarea id="upd_remarks" name="upd_remarks" required="required"></textarea>
                                </div>
                            </div>
                            <div class="add_user_submit">
                                <input type="submit" value="提交" id="upd_submit">
                            </div>
                            <div class="add_user_close">
                                <input type="button" value="取消" id="upd_cancel">
                            </div>
                        </div>
                    </div>
            </form>
        </div>
</div>
{% endblock %}
{% block js %}
<script language="javascript">
    var add_user_mask = document.getElementById("add_user_mask");
    var add_user_box = document.getElementById("add_user_box");
    var add_user_close = document.getElementById("add_user_close");
    var close = document.getElementById("close");
    var cancel = document.getElementById("cancel");
    var submit = document.getElementById("submit");
    var owner = document.getElementById("owner");
    var user = document.getElementById("user");
    var password = document.getElementById("password");
    var remarks = document.getElementById("remarks");
    var del_user = document.getElementById("del_user");
    var determine_box1 = document.getElementById("determine_box1");
    var determine_box2 = document.getElementById("determine_box2");
    var determine_button = document.getElementById("determine_button");
    var determine_close = document.getElementById("determine_close");
    var upd_user_mask = document.getElementById("upd_user_mask");
    var upd_user_box = document.getElementById("upd_user_box");
    var upd_close = document.getElementById("upd_close");
    var upd_cancel = document.getElementById("upd_cancel");
    var upd_owner = document.getElementById("upd_owner");
    var upd_user = document.getElementById("upd_user");
    var update_user = document.getElementById("update_user");
    var upd_password = document.getElementById("upd_password");
    var upd_remarks = document.getElementById("upd_remarks");
    var upd_submit = document.getElementById("upd_submit");
    var upd_id = document.getElementById("upd_id");
    function add_user() {
        add_user_mask.style = "display:block";
        add_user_box.style = "display:block";
    }
    close.onclick = function () {
        add_user_mask.style = "display:none";
        add_user_box.style = "display:none";
        owner.value="";
        user.value="";
        password.value="";
        remarks.value="";
    };
    cancel.onclick = function () {
        add_user_mask.style = "display:none";
        add_user_box.style = "display:none";
        owner.value="";
        user.value="";
        password.value="";
        remarks.value="";
    };
    function delete_box(user_id) {
        determine_box1.style = "display:block";
        determine_box2.style = "display:block";
        ids = user_id;
        user_ids = "#"+user_id
    }
    determine_close.onclick = function () {
        determine_box1.style = "display:none";
        determine_box2.style = "display:none";
    };
    determine_button.onclick = function () {
        determine_box1.style = "display:none";
        determine_box2.style = "display:none";
        $.ajax({
            url:"/del_user",
            type:"POST",
            data:{user_id:ids},
            success: function(){
                $(user_ids).remove()
      }});
    };
    function update_box(id,owner,user,password,remarks) {
        upd_owner.value = owner;
        upd_user.value = user;
        upd_password.value = password;
        upd_remarks.value = remarks;
        upd_id.value = id;
        upd_user_mask.style = "display:block";
        upd_user_box.style = "display:block";
    }
    upd_submit.onclick = function () {
        upd_user_mask.style = "display:none";
        upd_user_box.style = "display:none";
    };
    upd_close.onclick = function () {
        location.reload();
        upd_user_mask.style = "display:none";
        upd_user_box.style = "display:none";
    };
   upd_cancel.onclick = function () {
        location.reload();
        upd_user_mask.style = "display:none";
        upd_user_box.style = "display:none";
   };
</script>
{% endblock %}